@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Efek mengetik dengan animasi hapus */
.typing-animation {
  display: inline-block;
  padding-bottom: 8px;
  overflow: hidden;             /* Sembunyikan teks yang belum ditampilkan */
  white-space: nowrap;          /* Hindari teks terpotong ke baris berikutnya */
  border-right: 3px solid;      /* Efek cursor */
  animation: typing 6s steps(20, end), blink 0.7s step-end infinite;
  animation: typing-erase 10s steps(20, end) infinite; /* Animasi berulang */
}

/* Keyframes untuk animasi mengetik dan menghapus */
@keyframes typing-erase {
  0%, 40% {
    width: 0;                   /* Mulai dari tidak ada teks */
  }
  50%, 90% {
    width: 100%;                /* Selesai mengetik, tunggu sebentar */
  }
  100% {
    width: 0;                   /* Hapus teks setelah selesai */
  }
}

/* Keyframes untuk animasi blink cursor */
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  opacity: 0; /* Start hidden */
  animation: fadeInUp 0.7s ease forwards; /* Animate */
}

.card.visible {
  opacity: 1; /* Visible when class is added */
}
